@font-face {
  font-family: "its-icon";
  src: url('its-icon.eot?t=1775550156190'); /* IE9*/
  src: url('its-icon.eot?t=1775550156190#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('its-icon.woff2?t=1775550156190') format('woff2'),
  url('its-icon.woff?t=1775550156190') format('woff'),
  url('its-icon.ttf?t=1775550156190') format('truetype'),
  url('its-icon.svg?t=1775550156190') format('svg');
}

[class^="its-icon-"], [class*=" its-icon-"] {
  font-family: 'its-icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.its-icon-8K::before { content: "\ea01"; }
.its-icon-cart::before { content: "\ea02"; }
.its-icon-check::before { content: "\ea03"; }
.its-icon-close::before { content: "\ea04"; }
.its-icon-date::before { content: "\ea05"; }
.its-icon-doNotSelect::before { content: "\ea06"; }
.its-icon-download::before { content: "\ea07"; }
.its-icon-eye::before { content: "\ea08"; }
.its-icon-goBack::before { content: "\ea09"; }
.its-icon-IPAD_HOR::before { content: "\ea0a"; }
.its-icon-IPAD_VER::before { content: "\ea0b"; }
.its-icon-IPHONE::before { content: "\ea0c"; }
.its-icon-IWATCH::before { content: "\ea0d"; }
.its-icon-language::before { content: "\ea0e"; }
.its-icon-logout::before { content: "\ea0f"; }
.its-icon-MACBOOK::before { content: "\ea10"; }
.its-icon-message::before { content: "\ea11"; }
.its-icon-next::before { content: "\ea12"; }
.its-icon-notSelected::before { content: "\ea13"; }
.its-icon-prev::before { content: "\ea14"; }
.its-icon-price::before { content: "\ea15"; }
.its-icon-question::before { content: "\ea16"; }
.its-icon-search::before { content: "\ea17"; }
.its-icon-selected::before { content: "\ea18"; }
.its-icon-theme::before { content: "\ea19"; }
.its-icon-tip::before { content: "\ea1a"; }
.its-icon-XDR::before { content: "\ea1b"; }


